nav {
  background-color: #ffff;
  padding: 5px 20px;
}

ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.menu {
  font-size: 16px;
  padding: 15px 5px;
}

.menu li a {
  display: block;
}

#logo {
  height: 51px;
  width: 50px;
  border-radius: 50%;
  /* justify-content: space-around; */
  padding-left: 2rem;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-nav li a {
  padding: 0 10px;
}
