<div class="wrapper">
  <div class="container">
    <h1>Start new... Today!</h1>
    <p id="text">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam
      pariatur, quo sapiente nam accusamus non dolores
    </p>
  </div>
  <div class="container-img">
    <img
      src="https://image.freepik.com/free-vector/couple-teamwork-with-laptop_24877-56256.jpg"
      alt=""
    />
  </div>
</div>
<div class="header">
  <h1>Lorem ipsum Something</h1>
</div>
<div class="wrapper">
  <div class="container-img lorem">
    <img
      src="https://image.freepik.com/free-vector/couple-teamwork-with-puzzle-pieces_24877-56217.jpg"
      alt=""
    />
  </div>
  <div class="container">
    <h3>New Product, new Story</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam illo
      labore tenetur libero obcaecati ipsa optio velit corporis molestiae sit
      expedita dicta recusandae sequi vel, rerum aperiam. Inventore, voluptates
      veniam!
    </p>
  </div>
</div>
