.footer {
  display: flex;
  background-color: #1ea2d1;
  color: white;
  padding-left: 3rem;
  margin-top: 40px;
}

.footer img {
  height: 51px;
  width: 50px;
  border-radius: 50%;
  justify-content: space-around;
  padding-left: 2rem;
}

h4 {
  margin-top: 1rem;
  padding-left: 1rem;
}

@media screen and (max-width: 900px) {
  .footer img {
    height: 40px;
    width: 40px;
    margin-top: 9px;
  }
}
