<div class="wrapper">
  <div class="card">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSilSth0vYVtXUwHW80hn1xAHT6ZPj7pFcMbA&usqp=CAU"
      alt=""
    />
    <h4>#Blog 1</h4>
    <p>Lorem ipsum dolor sit amet consectetur</p>
  </div>
  <div class="card">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSilSth0vYVtXUwHW80hn1xAHT6ZPj7pFcMbA&usqp=CAU"
      alt=""
    />
    <h4>#Blog 2</h4>
    <p>Lorem ipsum dolor sit amet consectetur</p>
  </div>
  <div class="card" id="blog">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSilSth0vYVtXUwHW80hn1xAHT6ZPj7pFcMbA&usqp=CAU"
      alt=""
    />
    <h4>#Blog 3</h4>
    <p>Lorem ipsum dolor sit amet consectetur</p>
  </div>
  <div class="card" id="blog">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSilSth0vYVtXUwHW80hn1xAHT6ZPj7pFcMbA&usqp=CAU"
      alt=""
    />
    <h4>#Blog 3</h4>
    <p>Lorem ipsum dolor sit amet consectetur</p>
  </div>
</div>

<div class="submitBtn">
  <button class="btn">Read more</button>
</div>
